.footer-basic {
  background-color: rgba(128, 128, 128, 0.068);
  padding: 20px 0;
  width: 100vw;
  display: flex;
  color: black;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  left: 0;
}

.footer-basic strong {
  color: var(--orange);
}

.social {
  display: flex;
  gap: 1rem;
}

.social a {
  text-decoration: none;
  color: gray;
  font-size: 1.4rem;
}